# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env

# --- Testing & Logs ---
.pytest_cache/
*.log

# --- IDE Settings (PyCharm) ---
.idea/
*.iml

# --- Project Data & Keys (Local Only) ---
data/
*.csv
gcp-key.json
*.json
!scraper/tests/*.json